.title-card{
    margin-bottom: inherit;
    color: rgb(73, 79, 80);
}
.time{
    font-size: 13px;
    display: flex;
    align-items: center;
}
.text{
    font-size: 13px;
    color: rgb(73, 79, 80);
}
.sub-title{
    color:rgb(10, 117, 40);
    font-size: 13px;
    font-weight: 600;
}
.price{
    color: rgb(73, 79, 80);
}
.rd{
    background-color: red;
}